.entry-wrapper {
	position                                                                : relative;
	width                                                                   : 100%;
	height                                                                  : 100%;
	padding                                                                 : 4%;
	margin                                                                  : 0 auto;
	.entry-container {
		width                                                               : 100%;
		height                                                              : 100%;
		.entry-content {
			position                                                        : relative;
			width                                                           : 100%;
			height                                                          : 100%;
			max-width                                                       : 1024px;
			margin                                                          : 0 auto;
			.title-wrapper {
				display                                                     : block;
				width                                                       : 100%;
				height                                                      : 20%;
				.title-container {
					width                                                   : 100%;
					height                                                  : auto;
					.title-image-wrapper {
						width                                               : 100%;
						height                                              : auto;
						& > div {
							width                                           : 100%;
							height                                          : auto;
						}
						.title-image {
							display                                         : block;
							width                                           : auto;
							height                                          : 200px;
							margin                                          : 0 auto;
							@media screen and (max-width: 544px) {
								height                                      : auto;
							}

						}
					}
				}
			}
			.button-wrapper {
				width                                                       : 100%;
				height                                                      : 80%;
				.button-container {
					position                                                : relative;
					display                                                 : table;
					width                                                   : 100%;
					height                                                  : 100%;
					.button-image-wrapper {
						display                                             : table-cell;
						width                                               : 100%;
						height                                              : auto;
						vertical-align                                      : middle;
						.button-content {
							display                                         : table;
							width                                           : auto;
							min-width                                       : 300px;
							height                                          : auto;
							margin                                          : 0 auto;
							border-radius                                   : 50%;
							overflow                                        : hidden;
							cursor                                          : pointer;
						}
						.button-image-container {
							width                                           : 100%;
							height                                          : auto;
							padding                                         : 0 40px;
							background-image                                : url('../assets/images/button_background.png');
							background-size                                 : contain;
							background-repeat                               : no-repeat;
							background-position                             : center;
							& > div {
								width                                       : 100%;
								height                                      : auto;
								max-width                                   : 320px;
								margin                                      : 0 auto;
							}
							.button-image {
								display                                     : block;
								width                                       : 100%;
								height                                      : auto;
							}
						}
					}
					.stepOne-image-container {
						position                                            : absolute;
						bottom                                              : 78%;
						right                                               : calc(50% - 220px);
						text-align                                          : left;
						.stepOne-image {
							width                                           : 100%;
							height                                          : auto;
							max-width                                       : 220px;
							@media screen and (max-width: 500px) {
								width                                       : 60%;
							}
						}
					}
					.stepTwo-image-container {
						position                                            : absolute;
						top                                                 : 78%;
						left                                                : calc(50% - 220px);
						text-align                                          : right;
						.stepTwo-image {
							width                                           : 100%;
							height                                          : auto;
							max-width                                       : 220px;
							@media screen and (max-width: 500px) {
								width                                       : 60%;
							}
						}
					}
				}
			}
			.react-mic {
				display                                                     : none;
			}
		}
	}
}