.message-wrapper {
	display                                                                      : table;
	width                                                                        : 100%;
	height                                                                       : 100%;
	.message-container {
		display                                                                  : table-cell;
		vertical-align                                                           : middle;
		width                                                                    : 100%;
		height                                                                   : auto;
		.message-icon-wrapper {
			width                                                                : 100%;
			height                                                               : auto;
			padding                                                              : 0 40px;
			.message-icon {
				display                                                          : block;
				margin                                                           : 0 auto 20px auto;
				color                                                            : $white-color;
			}
		}
		.message-text-wrapper {
			width                                                                : 100%;
			height                                                               : auto;
			padding                                                              : 0 40px;
			p {
				font-size                                                        : 20px;
				text-align                                                       : center;
				color                                                            : $white-color;
				a {
					display                                                      : inline-block;
					text-decoration                                              : underline;
				}
			}
		}
	}
}